@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 17.3%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 17.3%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 17.3%;

    --primary: 210 28% 17%;
    --primary-foreground: 0 0% 100%;

    --secondary: 170 35% 28%;
    --secondary-foreground: 0 0% 100%;

    --muted: 216 25% 97%;
    --muted-foreground: 218 15% 46%;

    --accent: 41 44% 56%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 20% 92%;
    --input: 220 20% 92%;
    --ring: 210 28% 17%;

    --radius: 0;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 210 28% 17%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 25% 97%;
    --sidebar-accent-foreground: 210 28% 17%;
    --sidebar-border: 220 20% 92%;
    --sidebar-ring: 210 28% 17%;
  }

  .dark {
    --background: 210 28% 7%;
    --foreground: 0 0% 95%;

    --card: 210 28% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 210 28% 10%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 95%;
    --primary-foreground: 210 28% 17%;

    --secondary: 170 35% 20%;
    --secondary-foreground: 0 0% 95%;

    --muted: 210 20% 15%;
    --muted-foreground: 218 15% 65%;

    --accent: 41 44% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 95%;

    --border: 210 20% 18%;
    --input: 210 20% 18%;
    --ring: 0 0% 80%;
    --sidebar-background: 210 28% 7%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 210 50% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 20% 13%;
    --sidebar-accent-foreground: 0 0% 90%;
    --sidebar-border: 210 20% 13%;
    --sidebar-ring: 210 28% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-roboto antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat;
  }
}
